{% extends "layout.html" %}
{% block body %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('   {{ url_for('static',filename='assets/img/home-bg.jpg') }} ')">
         
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin Pannel</h1>
                            <span class="subheading">Manage your posts and changed them </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2>Basic Option</h2> 
                     <a href="/dashboard"><button type="button" class="btn btn-primary" >Dashboard Home</button></a>
                      <a href="/logout"><button type="button" class="btn btn-primary " >Logout</button></a>
                     <hr>
                    <h1>Edit Post</h1>
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="/edit/{{post.Sno}}" method="post">
                                    <label >Tittle</label>                   
                                <div class="form-floating">
                                    <div class="from-group floating-label-form-group controls">
                                    <input class="form-control" id="tittle" type="text" placeholder="Enter your Tittle here..." name="tittle" value="{{post.Tittle}}" />
                                </div>
                            </div>

                             <label >Sub Heading</label>
                                <div class="form-floating">
                                    <div class="from-group floating-label-form-group controls">
                                    <input class="form-control" id="sub_head" type="text" placeholder="Enter your Sub Heading  here..."  name="sub_head" value="{{post.sub_heading}}" />
                                </div>   
                            </div>

                                    <label >Slug</label>
                                <div class="form-floating">
                                    <div class="from-group floating-label-form-group controls">
                                    <input type="text"  class="form-control" name="slug" id="slug" placeholder="Enter your Slug here..."  value="{{post.slug}}" />
                                </div>
                            </div>
                                <label >Content</label>
                                <div class="form-floating">
                                    <div class="from-group floating-label-form-group controls">
                                    <textarea rows="5 "class="form-control" id="cont" type="text" placeholder="Enter your  Content here.." name="cont">{{post.Content}}></textarea>
                                </div>
                            </div>
                                <div class="form-floating">
                                    <input class="form-control" id="img_file" type="text" value="{{post.img_file}}"  name="img_file" />
                                    <label>Image</label>
                                </div>

                                <br />
                                <div id="success"></div>
                                <div class="from-group">
                                <button class="btn btn-primary" id="submitButton" type="submit">Send</button>
                            </div>
                            </form>
       {% endblock %}
